@tailwind base;
@tailwind components;
@tailwind utilities;

#customDatePickerContainer input {
  border-color: #d1d5db;
}

#customDatePickerContainer input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(63 131 248 / var(--tw-border-opacity));
}

#customDatePickerContainer button.bg-cyan-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(26 86 219 / var(--tw-bg-opacity));
}

#customDatePickerContainer button.bg-cyan-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 66 159 / var(--tw-bg-opacity));
}
